{% extends "cdmDisplay.html" %}
{% block titlename %} Cyber Defense Matrix {% endblock %}
{% block content %}
    <div class="container-fluid">
        <div style="text-align: center">
            <a id="cdm_box_label" class="box_label" style="color:darkblue;font-size: 20px;text-decoration:underline;">Cyber Defense Matrix</a>
        </div>
    </div>
    <div class="container-fluid" id="cdm_box" style="width:80%;margin-top:15px;text-align:center;padding: 30px;box-shadow:2px 2px 2px 2px ;">
                <div id="cdm_grid" style="text-align:center;margin-left:auto;margin-right: auto;">
                </div>
    </div>

    <div class="container-fluid" style="margin-top: 30px;">
        <div style="text-align: center">
            <a id="risk_box_label" class="box_label" style="color:darkblue;font-size: 20px;text-decoration:underline;">Risk Statistics</a>
        </div>
    </div>
     <div class="container-fluid" id="risk_box" style="width:80%;margin-top:15px;text-align:center;padding: 30px;box-shadow:2px 2px 2px 2px;text-decoration:underline;">

         <div class="container-fluid" style="margin-top: 30px;font-size: 22px;font-family: 'Comic Sans MS'">
                <div class="col-md-2 col-md-offset-4">
                    <label for="imposed_risk">Imposed Risk</label>
                </div>
                <div class="col-md-2  col-md-offset-0" style="margin-right: auto;">
                    <a id="imposed_risk"></a>
                </div>
          </div>
         <div class="container-fluid" style="font-size: 22px;font-family: 'Comic Sans MS'">
                <div class="col-md-2 col-md-offset-4">
                    <label for="residual_risk">Residual Risk</label>
                </div>
                <div class="col-md-2  col-md-offset-0">
                    <a id="residual_risk"></a>
                </div>
         </div>
         <div class="container-fluid" style="font-size: 22px;font-family: 'Comic Sans MS'">
                <div class="col-md-2 col-md-offset-4">
                    <label for="mitigated_risk">Mitigated Risk</label>
                </div>
                <div class="col-md-2  col-md-offset-0">
                    <a id="mitigated_risk"></a>
                </div>
         </div>
         <div class="container-fluid" style="font-size: 22px;font-family: 'Comic Sans MS'">
                <div class="col-md-2 col-md-offset-4">
                    <label for="roi">ROI</label>
                </div>
                <div class="col-md-2  col-md-offset-0">
                    <a id="roi"></a>
                </div>
         </div>
         <div class="container-fluid" style="margin-top: 30px;">
                <div id="risk_grid" style="text-align:center;margin-left:auto;margin-right: auto;">
                </div>
         </div>
    </div>
    <div id="dialog-message" class="ui-front" title="Threat Action Risk" style="">
        <div id="threat_action_grid" style="text-align:center;margin-left:auto;margin-right: auto;">
        </div>
          <!--button id="edit_button_cdm_row">Edit</button-->
    </div>
{% endblock %}
{% block scriptPageContent %}
    {% load static %}
    <script type="text/javascript" src="../static/utilities_Custom.js"></script>
    <script type="text/javascript" src="{% static "jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "jquery-ui-1.12.1.custom/jquery-ui.min.css" %}">
    <link rel="stylesheet" href="{% static "jqwidgets/styles/jqx.energyblue.css" %}" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function () {
            /************************ Initialize the grid *****************************************/
            var dataLoad = JSON.parse("{{ cdm_list | escapejs }}");
            var sourceAsset =
            {
                localdata: dataLoad,
                datatype: "array",
                datafields: [{ name: 'asset_name'},
                  { name: 'sc_name'},
                  { name: 'sc_function'},
                  { name: 'en_level'},
                  { name: 'kc_phase'},
                ] };

            var dataAdapterAsset = new $.jqx.dataAdapter(sourceAsset, {
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            $("#cdm_grid").jqxGrid(
            {
                source: dataAdapterAsset,
                autowidth: true,
                autoheight:true,
                pageable:true,
                sortable: true,
                groupable: true,
                theme: 'energyblue',
                columns: [
                  { text: 'Asset Name', datafield: 'asset_name', width: 200,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                    { text: 'Security Control Name', datafield: 'sc_name', width: 380,renderer:columnrenderer,cellsrenderer:cellsrenderer },
                  { text: 'Security Function', datafield: 'sc_function', width: 180, cellsalign: 'right',renderer:columnrenderer,cellsrenderer:cellsrenderer },
                  { text: 'Enforcement Level', datafield: 'en_level', width: 180, cellsalign: 'right', cellsformat: 'c2',renderer:columnrenderer,cellsrenderer:cellsrenderer },
                    { text: 'Kill Chain Phase', datafield: 'kc_phase', width: 180, cellsalign: 'right', cellsformat: 'c2',renderer:columnrenderer,cellsrenderer:cellsrenderer },

                ],
{#                groups: ['asset_name']#}
            });
            $('#cdm_grid').jqxGrid({ pagesize: 200});
            /************************ End of the initialization **********************************/

            /************************ Initialize the risk grid *****************************************/
            var dataLoadRisk = JSON.parse("{{ risk_list | escapejs }}");
            var dataROI = JSON.parse("{{ roi | escapejs }}");
{#            console.log(dataROI);#}
            loadROIStatistics()
            function loadROIStatistics() {
                 $("#imposed_risk").text(dataROI['Imposed Risk']);
                 $("#residual_risk").text(dataROI['Residual Risk']);
                 $("#mitigated_risk").text(dataROI['Mitigated Risk']);
                 $("#roi").text(dataROI['ROI']);
            }

            var sourceAssetRisk =
            {
                localdata: dataLoadRisk,
                datatype: "array",
                datafields: [{ name: 'asset_name'},
                    { name: 'max_risk'},
                  { name: 'res_risk'},
                  { name: 'imp_cost'},
                ] };

            var dataAdapterAssetRisk = new $.jqx.dataAdapter(sourceAssetRisk, {
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            $("#risk_grid").jqxGrid(
            {
                source: dataAdapterAssetRisk,
                autowidth: true,
                autoheight:true,
                pageable:true,
                sortable: true,
                theme: 'energyblue',
                columns: [
                  { text: 'Asset Name', datafield: 'asset_name', width: 200,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                    { text: 'Risk', datafield: 'max_risk', width: 380,renderer:columnrenderer,cellsrenderer:cellsrenderer },
                    { text: 'Residual Risk', datafield: 'res_risk', width: 380,renderer:columnrenderer,cellsrenderer:cellsrenderer },
                  { text: 'Implementation Cost', datafield: 'imp_cost', width: 180, cellsalign: 'right',renderer:columnrenderer,cellsrenderer:cellsrenderer },
                ],
            });
            $('#risk_grid').jqxGrid({ pagesize: 200});

            /********************************** Click on the row of the grid and show the threat list********************************/
            $('#risk_grid').on('celldoubleclick', function (event)
            {
                var dataRow = $('#risk_grid').jqxGrid('getrowdata',event.args.rowindex);
                var asset_name = dataRow['asset_name'];
                console.log(asset_name);
                /********************** Dialog Box ***********************************/
                loadThreatActionGrid(threatActionList(asset_name));
                $("#dialog-message").dialog({
                    modal: true,
                    position: {my: "center top", at: "center top"},
                    width: 1000,
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        },
                    }
                });

            });

            function threatActionList(asset_name){
                for(var i = 0;i<dataLoadRisk.length;i++){
                    if (asset_name==dataLoadRisk[i]['asset_name']){
                        return dataLoadRisk[i]['threat_list'];
                    }
                }
            }

            /************************ End of the initialization **********************************/

            /*************************** Grid View ***********************************************/
            $(".box_label").click(function () {
                div_id = $(this).attr('id');
                div_box = div_id.substring(0,div_id.lastIndexOf("_"));
                $("#"+div_box).toggle();

            });

            /****************************************** Threat Action Grid ***************************************/
            function loadThreatActionGrid(threat_action_list){
                var dataLoadThreatAction = threat_action_list;
                var sourceAssetTA =
                {
                    localdata: dataLoadThreatAction,
                    datatype: "array",
                    datafields: [{ name: 'threat_action_name'},
                      { name: 'risk_ta'},
                        {name:'prev_risk'},
                    ]
                };

                var dataAdapterThreatAction= new $.jqx.dataAdapter(sourceAssetTA, {
                    loadComplete: function (data) { },
                    loadError: function (xhr, status, error) { }
                });
                $("#threat_action_grid").jqxGrid(
                {
                    source: dataAdapterThreatAction,
                    autowidth: true,
                    autoheight:true,
                    pageable:true,
                    sortable: true,
                    columns: [
                      { text: 'Threat Action Name', datafield: 'threat_action_name', width: 380,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                         { text: 'Risk', datafield: 'prev_risk', width: 280,renderer:columnrenderer,cellsrenderer:cellsrenderer },
                        { text: 'Residual Risk', datafield: 'risk_ta', width: 280,renderer:columnrenderer,cellsrenderer:cellsrenderer },
                    ],

                });
                $("#threat_action_grid").jqxGrid({ pagesize: 200});

            }
        });
    </script>
{% endblock %}