{% extends "cdmDisplay.html" %}
{% block titlename %} Cyber Defense Matrix {% endblock %}
{% block content %}
    <div class="container-fluid col-md-10 col-md-offset-1" style="padding: 10px;">
        {% for key,value in asset_name.items %}
            <div class="row" style="padding-top: 10px;">
                <div class="col" style="text-align: center">
                        <a style="text-decoration:underline;font-size: 20px;color: #0d3349">{{ key }}</a>
                </div>
            </div>
            <div style="padding-top: 20px;">
                <div id = "{{ value }}" style="text-align: center;margin-left: auto;margin-right: auto;"></div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
{% block scriptPageContent %}
    <script type="text/javascript" src="../static/utilities_Custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var data = JSON.parse("{{ asset_name_js|escapejs }}");
            var show_data = JSON.parse("{{ send_data|escapejs }}")
            console.log(data);
            var indexLoop = 0;
            for(var key in data){
                 $('#'+data[key]).jqxGrid({ pagesize:50});
                loadDataGridWithName(show_data[indexLoop],data[key]);
                indexLoop += 1;
            }
{#            loadDataGridWithName([],"jqxgrid_0");#}
{#            loadDataGridWithName([],"jqxgrid_1");#}
{#            loadDataGridWithName([],"jqxgrid_2");#}
        });
   </script>
{% endblock %}