{% extends "cdmDisplay.html" %}
{% block titlename %} Cyber ARM {% endblock %}
{% block content %}
    <div class="container-fluid">
         <div class="container-fluid">
                  <div class="col-sm-2" style="text-align: right">
                     <label for="budget">Budget</label>
                   </div>
                    <div class="col-sm-2" style="text-align: right">
                        <input type="text" id="budget" placeholder="Enter the Budget"/>
                    </div>
                    <div class="col-sm-2" style="text-align: right">
                         <label for="affordable_risk">Affordable Risk</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="affordable_risk" placeholder="Enter Affordable Risk"/>
                    </div>
         </div>
        <div class="container-fluid ">
            <div class="col">
                    <label for="Threat Data Source">Threat Data Source</label>
            </div>
            <div class="dropdown" name="Threat Data Source" id="threat_data_source">
                    <input type="text" name="threat_data_source" id="threat_data_source" class="drop-text" style="display: none"/>
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Threat Data Source
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                         <li><a>VERIS</a></li>
                         <li><a>Threat History</a></li>
{#                      <li><a href="#">Execute</a></li>#}
                    </ul>
            </div>
        </div>
        <div class="container-fluid search_specific_div form-inline" id="veris_source" style="margin-top:20px;display: none;box-shadow:3px 3px 3px 3px ;padding:40px;">
            <div class="container-fluid">
                  <div class="col-sm-2" style="text-align: right">
                     <label for="Asset Name">Asset Name</label>
                   </div>
                    <div class="col-sm-2" style="text-align: right">
                        <div id='asset_name_veris'></div>
                    </div>
                    <div class="col-sm-2" style="text-align: right">
                         <label for="Number of Asset">Number of Asset</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="number_asset_veris"/>
                    </div>
            </div>

            <div class="container-fluid"  style="margin-top:25px;">
                <div class="col-sm-2" style="text-align: right">
                    <label for="confidentiality">Confidentiality</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="confidentiality_veris"/>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <label for="integrity">Integrity</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="integrity_veris"/>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <label for="availability">Availability</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="availability_veris"/>
                </div>
            </div>

            <div style="margin-top: 25px;text-align: center;">
                    <button type="button" class="btn btn-primary add_asset">Add Asset</button>
            </div>


        </div>

        <div class="container-fluid search_specific_div" id="other_source" style="margin-top:20px;display: none;box-shadow:3px 3px 3px 3px ;padding:40px;">
            <div class="container-fluid">
                  <div class="col-sm-2" style="text-align: right">
                     <label for="Asset Name">Asset Name</label>
                   </div>
                    <div class="col-sm-2" >
                        <input type="text" id="asset_name_other_source"/>
                    </div>
                    <div class="col-sm-2" style="text-align: right">
                         <label for="Number of Asset">Number of Asset</label>
                    </div>
                    <div class="col-sm-2">
                        <input type="text" id="number_asset"/>
                    </div>
            </div>

            <div class="container-fluid"  style="margin-top:25px;">
                <div class="col-sm-2" style="text-align: right">
                    <label for="confidentiality">Confidentiality</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="confidentiality"/>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <label for="integrity">Integrity</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="integrity"/>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <label for="availability">Availability</label>
                </div>
                <div class="col-sm-2">
                    <input type="text" id="availability"/>
                </div>
            </div>

            <div class="container-fluid" style="margin-top: 15px;padding-right: 20px;">
                <a style="color: red;text-decoration: underline;"> Recursively Add Threat Action</a>
            </div>
            <div class="container-fluid" style="margin-top: 15px;text-align: center;">
                <div id="threat_action_list" style="text-align: center;margin-left: auto;margin-right: auto;">
                </div>
            </div>

            <div class="container-fluid" style="margin-top: 25px;">
                <div class="col-sm-2" style="text-align: right">
                    <label for="threat_action_name">Threat Action</label>
                    <label style="color: red;display: none;" id="threat_action_error">Please Choose a Threat Action</label>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <div id='threat_action_drop_down_list'></div>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <label for="occurrence">Occurrence</label>
                    <label style="color: red;display: none;" id="threat_action_occur">Please Give Occurrence</label>
                </div>
                <div class="col-sm-2" style="text-align: right">
                    <input type="text" name="occurrence" id="occurrence"/>
                </div>
                <div class="col-sm-3">
                    <button type="button" class="btn btn-primary what" id="add_threat_action">ADD</button>
                </div>

            </div>

            <div style="margin-top: 25px;text-align: center;">
                    <button type="button" class="btn btn-primary add_asset">Add Asset</button>
            </div>

        </div>
         <div class="container-fluid" style="margin-top:15px;text-align:center;padding: 30px;">
                <div id="asset_grid_list" style="text-align:center;margin-left:auto;margin-right: auto;">
                </div>
         </div>
         <div style="margin-top:10px;text-align: center;">
                    <button type="button" class="btn btn-primary" id="generate_cdm">Generate CDM</button>
         </div>

        <div style="display: none;">
            <form method="post" action="">
                {% csrf_token %}
                <input type="text" style="" id="asset_list_user_input" name="asset_list_user_input">
                <input type="submit" id="submit_gen_cdm">
            </form>
        </div>

    </div>
{% endblock %}
{% block scriptPageContent %}
    <script type="text/javascript" src="../static/utilities_Custom.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //////////////////////////////////////////// Data sent from the backend ////////////////////////////

            /****************************************************** Asset List ****************************************/
            var dataLoad = [];
            var sourceAsset =
            {
                localdata: dataLoad,
                datatype: "array",
                datafields: [{ name: 'asset_name'},
                  { name: 'frequency',type:'float'},
                  { name: 'confidentiality'},
                  { name: 'integrity'},
                  { name: 'availability'},
                    {name:'data_source'}

                ] };

            var dataAdapterAsset = new $.jqx.dataAdapter(sourceAsset, {
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            $("#asset_grid_list").jqxGrid(
            {
                source: dataAdapterAsset,
                autowidth: true,
                autoheight:true,
                pageable:true,
                sortable: true,
                columns: [
                  { text: 'Asset Name', datafield: 'asset_name', width: 350,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                  { text: 'Number', datafield:'frequency', width:  120,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                  { text: 'Confidentiality', datafield: 'confidentiality', width: 180,renderer:columnrenderer,cellsrenderer:cellsrenderer },
                  { text: 'Integrity', datafield: 'integrity', width: 180, cellsalign: 'right',renderer:columnrenderer,cellsrenderer:cellsrenderer },
                  { text: 'Availability', datafield: 'availability', width: 180, cellsalign: 'right', cellsformat: 'c2',renderer:columnrenderer,cellsrenderer:cellsrenderer },
                    { text: 'Threat Source', datafield: 'data_source', width: 180, cellsalign: 'right', cellsformat: 'c2',renderer:columnrenderer,cellsrenderer:cellsrenderer },

                ]
            });
           /****************************************************** End Asset List ************************************/

            var threat_action_data = JSON.parse("{{ threat_action|escapejs }}");
{#            threat_action_data = JSON.parse(threat_action_data);#}
            console.log(threat_action_data);
            var index = 0;
            for(index=0;index < 10;index++){
                console.log(threat_action_data[index]);
            }
            console.log("Threat Action Data Below:");

            /////////////////////////////////////////// end of the data module //////////////////////

            //////////////////////////////////////////// Global Data ////////////////////////////////////
            var asset_list_given = [];
            var threat_action_list_specific_asset = [];
            var added_number_of_asset = 0;
            var veris_selected = 0;
            var number_threat_action = 0
            var asset_veris;
            /////////////////////////////////////// End of the Global Data //////////////////////////////
            asset_veris = JSON.parse("{{ asset_list | escapejs }}");
            $("#asset_name_veris").jqxDropDownList({ source: asset_veris, width: '200px', height: '25px'});

            $("#threat_action_drop_down_list").jqxDropDownList({ source: threat_action_data, width: '200px', height: '25px'});

           $(".dropdown-menu li a").click(function(){
                var selText = $(this).text();
                $(this).parents('.dropdown').find('.dropdown-toggle').html(selText+'<span class="caret"></span>');
                $(this).parents('.dropdown').find('.drop-text').val(selText);
                if(selText == THREAT_DATA_VERIS){
                      $(".search_specific_div").hide();
                      $("#veris_source").show();
                      veris_selected = 1;
                }
                else{
                      $(".search_specific_div").hide();
                      $("#other_source").show();
                      veris_selected = 0;
                }
            });

           $("#add_threat_action").click(function () {
               var threat_action_value = $("#threat_action_drop_down_list").val();
               var occurrence_value = $("#occurrence").val();
               console.log("great "+threat_action_value+" "+occurrence_value);
               com_flag = 0;
               if(threat_action_value == ""){
                   $("#threat_action_error").show();
               }
               else{
                   $("#threat_action_error").hide();
                   com_flag = 1;
               }
               if(occurrence_value==""){
                    $("#threat_action_occur").show();
                    com_flag = 0;
               }
               else{
                   $("#threat_action_occur").hide();
               }
               if(com_flag){
                   $("#threat_action_list").jqxGrid('addrow', number_threat_action, {'threat_action_name_id':threat_action_value,'frequency':occurrence_value});
                   threat_action_list_specific_asset[number_threat_action] = {'threat_action_name_id':threat_action_value,'frequency':occurrence_value};
                   number_threat_action += 1;
                   $("#occurrence").val("");
                   $("#threat_action_drop_down_list").jqxDropDownList('clearSelection');
               }

           });

           /********************************* Add Asset in the list ************************/

           $(".add_asset").click(function() {
               row_asset_list = {};
               if(veris_selected){
                   console.log("VERIS Selected");
                   row_asset_list['asset_name'] = $("#asset_name_veris").val();
                    row_asset_list['frequency'] = $("#number_asset_veris").val();
                    row_asset_list['confidentiality'] = $("#confidentiality_veris").val();
                    row_asset_list['integrity'] = $("#integrity_veris").val();
                    row_asset_list['availability'] = $("#availability_veris").val();
                    row_asset_list['data_source'] = "VERIS";
                    row_asset_list['threat_list'] = {};
                    empty_list_veris();
               }
               else{
                    row_asset_list['asset_name'] = $("#asset_name_other_source").val();
                    row_asset_list['frequency'] = $("#number_asset").val();
                    row_asset_list['confidentiality'] = $("#confidentiality").val();
                    row_asset_list['integrity'] = $("#integrity").val();
                    row_asset_list['availability'] = $("#availability").val();
                    row_asset_list['data_source'] = "Experience";
                    row_asset_list['threat_list'] = threat_action_list_specific_asset;
                    empty_list_other_source();
               }
               asset_list_given[added_number_of_asset] = row_asset_list;
               console.log("Asset List:");
               console.log(row_asset_list);
               $("#asset_grid_list").jqxGrid('addrow', null,row_asset_list);
               added_number_of_asset += 1;
               console.log("Added Number Of Assets "+added_number_of_asset);
               console.log(asset_list_given);

           });

           function empty_list_veris(){
                $("#asset_name_veris").jqxDropDownList('clearSelection');
                $("#number_asset_veris").val("");
                $("#confidentiality_veris").val("");
                $("#integrity_veris").val("");
                $("#availability_veris").val("");

           }

           function empty_list_other_source(){
                $("#asset_name_other_source").val("");
                $("#number_asset").val("");
                $("#confidentiality").val("");
                $("#integrity").val("");
                $("#availability").val("");
                for(var i = 0;i<number_threat_action;i++){
                    $("#threat_action_list").jqxGrid('deleterow', i);
                }
                number_threat_action = 0;
                threat_action_list_specific_asset = [];
           }



           /********************************* End of adding asset in the list **************/

           /*  ###################################### Submit Button Action ########################################### */
            $("#generate_cdm").click(function () {
                var data_input = {};
                data_input['real_data'] = asset_list_given;
                data_input['budget'] = $("#budget").val();
                data_input['affordable_risk'] = $("#affordable_risk").val();
                data_input['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                data_string_send = JSON.stringify(data_input);
                console.log(data_string_send);
                console.log(data_input);
                $("#asset_list_user_input").val(data_string_send);
                $("#submit_gen_cdm").click();
{#                $.ajax({#}
{#                  type:"POST",#}
{#                  url:"/cyberARM/",#}
{#                  data : data_string_send,#}
{#                });#}
            });


            /* ####################################### End of Submit Button Action ############################################ */
           /* ############################################### Threat Actions List ################################# */
            var dataThreatAction = [];
            var source =
            {
                localdata: dataThreatAction,
                datatype: "array",
                datafields: [{ name: 'threat_action_name_id'},
                  { name: 'frequency'},
                ]
            };
            var dataAdapter = new $.jqx.dataAdapter(source, {
                loadComplete: function (data) { },
                loadError: function (xhr, status, error) { }
            });
            $("#threat_action_list").jqxGrid(
            {
                source: dataAdapter,
                autowidth: true,
                autoheight:true,
                columns: [
                    { text: 'Threat Action', datafield: 'threat_action_name_id', width: 300,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                    { text: 'Occurrence', datafield: 'frequency', width: 300,renderer:columnrenderer,cellsrenderer:cellsrenderer},
                ]
            });



           /* ############################################### End Threat Action List ############################### */

        });
    </script>
{% endblock %}