{% extends "cdmDisplay.html" %}
{% block titlename %} CDM Insert {% endblock %}
{% block content %}

     <div id="dialog-message" title="Explanation" style="z-index:999999;">
          <p id="explanation_box">
            
          </p>
          <!--button id="edit_button_cdm_row">Edit</button-->
    </div>
    <div id="edit_box" title="Edit Security Control Mapping" style="display: none;padding-left:30px;">
          <div class="row">
                <div class="col">
                    <label for="sc_name">Security Control Name</label>
                </div>
                <div class="col">
                        <input type="text" class="form-control" name="security_control_name_edit" id="security_control_name_edit" readonly style="width:400px; "/>
                </div>
        </div>
         <!--div class="row">
                <div class="col">
                    <label for="sc_version">Security Control Version</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="sc_version" id="sc_version" placeholder="Security Control Version"/>
                </div>
        </div-->
        <div class="row">
                <div class="col">
                    <label for="kill_chain_phase">Kill Chain Phase</label>
                </div>
                <div class="col" name="kill_chain_phase_edit" id="kill_chain_phase_edit">
                    <div id="kill_chain_phase_list_edit">
                    </div>
                </div>
         </div>
         <div class="row">
                <div class="col">
                    <label for="enforcement_level">Enforcement Level</label>
                </div>
                <div class="col" name="enforcement_level_edit" id="enforcement_level_edit">
                    <div id="enforcement_level_list_edit">
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col">
                    <label for="security_function">Security Function</label>
                </div>
                <div class="col" name="security_function_edit" id="security_function_edit">
                    <div id='security_function_list_edit'>
                    </div>
                </div>
        </div>

      <div class="row">
            <div class="col">
                <label for="sc_version">Old Explanation</label>
            </div>
            <div class="col">
                <p id="explanation_edit_old" style="color:midnightblue;">
                </p>
            </div>
      </div>

     <div class="row">
            <div class="col">
                <a style="text-decoration: underline;color: red;" id="exp_error">Please Enter the Explanation Before Editing</a>
            </div>
            <div class="col">
                <label for="sc_version">New Explanation</label>
            </div>
            <div class="col">
                <textarea class="form-control" name="explantion_edit" id="explanation_edit" placeholder="Please Enter Explanation"></textarea>
            </div>
      </div>

    </div>
    <div class="container-fluid col-md-10 col-md-offset-1" style="">
        <div class="row">
                <div class="col">
                    <label for="sc_name">Security Control Name</label>
                </div>
                <div class="col" name="security_control_name" id="security_control_name">
                    <div id='security_control_name'>
                    </div>
                </div>
        </div>
         <!--div class="row">
                <div class="col">
                    <label for="sc_version">Security Control Version</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="sc_version" id="sc_version" placeholder="Security Control Version"/>
                </div>
        </div-->
        <div class="row">
                <div class="col">
                    <label for="kill_chain_phase">Kill Chain Phase</label>
                </div>
                <div class="col" name="kill_chain_phase" id="kill_chain_phase">
                    <div id="kill_chain_phase_list">
                    </div>
                </div>
         </div>
         <div class="row">
                <div class="col">
                    <label for="enforcement_level">Enforcement Level</label>
                </div>
                <div class="col" name="enforcement_level" id="enforcement_level">
                    <div id="enforcement_level_list">
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col">
                    <label for="security_function">Security Function</label>
                </div>
                <div class="col" name="security_function" id="security_function">
                    <div id='sc_func_list'>
                    </div>
                </div>
        </div>

      <div class="row">
            <div class="col">
                <label for="sc_version">Explanation</label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="explantion" id="explanation" placeholder="Please Enter Explanation"/>
            </div>
      </div>

    <div style="text-align:center;padding-top:10px;"><button class="btn btn-primary" id="insert_cdm_row">Insert Security Control</button></div>

    <div class="container">
        <div class="row"><a id="desc_table" class="clickable_red">Descritption About Table</a></div>
    </div>

    <!-- Dialouge Box for Table Description -->
    <div class="container" id="dialouge_table_desc" style="display: none;padding:20px;padding-right: 30px;font-family: Calibri, sans-serif;">
        <div class="row"><label style="text-decoration: underline;font-size: 22px;color: #0b559b;"> CSC Security Control:</label></div>
        <div class="row">
            <p class="desc_table_p">
                The CIS Critical Security Controls (CSC), created by top experts from many organizations recommends set of actions to provide an efficient defense
                against pervasive and advanced attacks. CIS has combined attack patterns derived from threat reports with experts' defense knowledge to form a
                synthesized list of security controls.
            </p>
        </div>

        <div class="row"><label style="text-decoration: underline;font-size: 25px;margin-top: 10px;color: #0b559b;"> Security Function:</label></div>
        <div class="row">
            <p class="desc_table_p">
                Security function is the exact action executed by the security controls against threats.
            </p>
        </div>

        <div class="row"><label style="text-decoration: underline;font-size: 25px;margin-top: 10px;color: #0b559b;"> Enforcement level:</label></div>
        <div class="row">
            <p class="desc_table_p">
                The entities on which the security controls operate.
            </p>
        </div>

        <div class="row"><label style="text-decoration: underline;font-size: 25px;margin-top: 10px;color: #0b559b;"> CCAA Cyber Kill Chain :</label></div>
        <div class="row">
            <p class="desc_table_p">
                CCAA has generated <b>CCAA Cyber Kill Chain</b> by combining Cyber Kill Chain of <b>Lockheed Martin </b> and <b>The Mitre Corporation</b> which divides the adversary's
                Tactic, Technique and Procedure into eight different steps or phases for better understanding and analyzing. These phases are described as follows:
            </p>
            <div class="container" style="padding-left:40px;">
                <div class="row">
                    <p class="desc_table_p">
                        <b style="color: red;">Reconnaissance: </b>The intruder performs scanning, crawlong etc. to identify the target and also to
                        discover the vulnerabilities of that victim target.
                    </p>
                </div>
                <div class="row">
                    <p class="desc_table_p">
                        <b style="color: red;">Weaponization: </b>The intruder develops or prepares the weapon such as remote access malware to exploit
                        the vulnerabilities of the target.</p>
                </div>
                <div class="row">
                    <p class="desc_table_p">
                        <b style="color: red;">Delivery: </b> The attacker delivers the weapon to the target via email, removable disk etc.
                    </p>
                </div>
                <div class="row">
                    <p class="desc_table_p"><b style="color: red;">Exploit: </b>The attacker exploits the identified vulnerabilities by executing the malicious code on target system.</p>
                </div>
                <div class="row">
                    <p class="desc_table_p"><b style="color: red;">Installation: </b>The attacker installs malware,access point etc. on the victim machine.</p>
                </div>
                <div class="row">
                    <p class="desc_table_p"><b style="color: red;">Command & Control(C2): </b>The attcker establishes a communication channel with the remote master server to
                        enable the instruder to manipulate the target machine.</p>
                </div>
                <div class="row">
                    <p class="desc_table_p"><b style="color: red;">Execiute: </b>The attacker executes action to achieve the goals such as data exfiltration, attack propagation etc. </p>
                </div>
                <div class="row">
                    <p class="desc_table_p"><b style="color: red;">Maintain: </b>This can come at any phase after the exploitation. In this phase, the attacker performs actions to maintain its
                        presence.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- End of the Dialouge Box -->

     <div style="padding-top: 10px;">
            <div id = "jqxgrid" style="text-align: center;margin-left: auto;margin-right: auto;"></div>
     </div>

    <div class="row" style="text-align: center;padding-top: 10px;">
       <button class="btn btn-primary" id="gen_sec_control_csv">Generate Security Controls</button>
    </div>


    </div>


{% endblock %}
{% block scriptPageContent %}
    {% load static %}
    <script type="text/javascript" src="{% static "jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "jquery-ui-1.12.1.custom/jquery-ui.min.css" %}">
    <script type="text/javascript" src="../static/utilities_Custom.js"></script>
    <link rel="stylesheet" href="{% static "styles/CustomDesign.css" %}">
    <script type="text/javascript">
    $(document).ready(function () {
        {#        var data = JSON.parse("{{ cdmList | escapejs}}");#}
        var kc_phase = JSON.parse("{{ kc_phase | escapejs }}");
        var en_level = JSON.parse("{{ en_level | escapejs }}")
        var sc_func = JSON.parse("{{ sc_func | escapejs }}");
        var sc_name = JSON.parse("{{ sc_name | escapejs }}");
        var sc_version = JSON.parse("{{ sc_version | escapejs }}");
        var cdm_entries = JSON.parse("{{ cdm_entries | escapejs }}");
{#        console.log(cdm_entries);#}
        {#        var cdm_entries = [];#}
        {#        console.log(kc_phase);#}
        {#        console.log(en_level);#}
        {#        console.log(sc_func);#}
        {#        console.log(sc_name);#}
        {#        console.log(sc_version);#}
        loadDataGridUpdated(cdm_entries);
        $('#jqxgrid').jqxGrid({pagesizeoptions: ['10', '20', '30', '40', '50', '100', '200']});
        $('#jqxgrid').jqxGrid({pagesize: 50});
        $("#jqxgrid").jqxGrid('sortby','sc_version','asc');
        $("#security_control_name").jqxDropDownList({source: sc_name, width: '680px', height: '30px'});
        $("#kill_chain_phase_list").jqxDropDownList({source: kc_phase, width: '240px', height: '30px'});
        $("#kill_chain_phase_list").jqxDropDownList({autoDropDownHeight: true});
        $("#enforcement_level").jqxDropDownList({source: en_level, width: '240px', height: '30px'});
        $("#enforcement_level").jqxDropDownList({autoDropDownHeight: true});
        $("#sc_func_list").jqxDropDownList({source: sc_func, width: '240px', height: '30px'});
        $("#sc_func_list").jqxDropDownList({autoDropDownHeight: true});

        /************************************ Edit Button Box **********************************************/
        $("#kill_chain_phase_list_edit").jqxDropDownList({source: kc_phase, width: '240px', height: '30px'});
        $("#kill_chain_phase_list_edit").jqxDropDownList({autoDropDownHeight: true});
        $("#enforcement_level_list_edit").jqxDropDownList({source: en_level, width: '240px', height: '30px'});
        $("#enforcement_level_list_edit").jqxDropDownList({autoDropDownHeight: true});
        $("#security_function_list_edit").jqxDropDownList({source: sc_func, width: '240px', height: '30px'});
        $("#security_function_list_edit").jqxDropDownList({autoDropDownHeight: true});
        /************************************ End of the edit button box ***********************************/

        /********************************************* Button Characteristics *****************************************************/
        $("#insert_cdm_row").click(function () {
            var sc_name_value = $("#security_control_name").jqxDropDownList('val');
            if (sc_name_value == "") {
                alert("Select Security Control First");
                return;
            }
            var kc_phase = $("#kill_chain_phase_list").jqxDropDownList('val');
            if (kc_phase == "") {
                alert("Select Kill Chain Phase");
                return;
            }
            {#            alert(kc_phase);#}
            var en_level = $("#enforcement_level").jqxDropDownList('val');
            if (en_level == "") {
                alert("Select Enforcement Level");
                return;
            }
            var sc_func = $("#sc_func_list").jqxDropDownList('val');
            if (sc_func == "") {
                alert("Select Security Function");
                return;
            }
            form_data = {}
            console.log(sc_name_value);
            form_data['sc_version'] = sc_name_value.substring(sc_name_value.lastIndexOf("(") + 1, sc_name_value.lastIndexOf(")"));
            form_data['sc_func'] = sc_func;
            form_data['kc_phase'] = kc_phase;
            form_data['en_level'] = en_level;
            form_data['explanation'] = $("#explanation").val();
            ajaxInsertCDMRow(form_data, "/csc_classification/");


        });
        /******************************************End Button Characteristics *****************************************************/

        /**************************************** Show the explanation **********************************************************/
        $("#jqxgrid").on("celldoubleclick", function (event) {
            var dataRow = $('#jqxgrid').jqxGrid('getrowdata',event.args.rowindex);
            console.log(dataRow);
            $("#explanation_box").text(dataRow['explanation_row']);
            $("#dialog-message").dialog({
                modal: true,
                position: {my: "center center", at: "center top"},
                width:600,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    },
                    Edit: function () {
                        prim_key = dataRow["id"];
                         security_control_version = dataRow["sc_version"];
                        $("#security_control_name_edit").val(dataRow["sc_name"]+" ("+security_control_version+")");
                        $("#kill_chain_phase_list_edit").jqxDropDownList('selectItem',dataRow["kc_phase_name"]);
                        $("#security_function_list_edit").jqxDropDownList('selectItem',dataRow["sc_func"]);
                        $("#enforcement_level_list_edit").jqxDropDownList('selectItem',dataRow["en_level_name"]);
                        $("#explanation_edit_old").text(dataRow["explanation_row"]);
                        $("#explanation_edit").val(dataRow["explanation_row"]);
                        $("#edit_box").dialog({
                            modal: true,
                            width: 800,
                            position: {my: "center top", at: "center center"},
                            buttons: {
                                Submit: function () {
                                     var new_exp = $("#explanation_edit").val()
                                     if(new_exp==""){
                                          $("#exp_error").show();
                                     }
                                     var dataEdit = {};
{#                                    $(this).dialog("close");#}
                                    dataEdit['id'] = prim_key;
                                    dataEdit['sc_version'] = security_control_version;
                                    dataEdit['sc_func'] = $("#security_function_list_edit").jqxDropDownList('val');
                                    dataEdit['kc_phase'] = $("#kill_chain_phase_list_edit").jqxDropDownList('val');
                                    dataEdit['en_level'] = $("#enforcement_level_list_edit").jqxDropDownList('val');
                                    dataEdit['explanation'] = $("#explanation_edit").val();
                                    console.log(dataEdit);
                                    ajaxInsertCDMRow(dataEdit,"/edit_csc_classification/");
                                    $(this).dialog("close");
                                },
                                Delete: function () {
                                    ajaxInsertCDMRow(prim_key,"/remove_csc_classification/");
                                    $(this).dialog("close");
                                },
                                Cancel: function () {
                                    $(this).dialog("close");
                                }
                            }
                         });
                        $("#exp_error").hide();
                        $(this).dialog("close");
                    }
                }
            });
        });
        /******************************************* End of showing of the explanation *****************************************/

        /******************************************** Edit the explanation box ******************************************/

        /******************************************** End of edit of the explanation box ********************************/
        /******************************************** Show the generated File***************************************/
        var dataFieldName = ['sc_version','sc_name','sc_func','kc_phase_name','en_level_name','explanation'];
        function generateCDMCSV(){
            console.log("Download the grid as file");
            var rows = $('#jqxgrid').jqxGrid('getrows');
            var fileContent = "";
            for(var i = 0;i<rows.length;i++){
               for(var j = 0;j<dataFieldName.length-1;j++){
                   fileContent += rows[i][dataFieldName[j]];
                   if(j<dataFieldName.length-2) fileContent += ';';
               }
               fileContent += '\n';
            }
            downloadFile("CSCMapping.csv",fileContent);
        }
        $("#gen_sec_control_csv").click(function () {
            generateCDMCSV();
        });
        /******************************************** End of the generation of the file***************************************/

        /******************************************** Dialouge box for the Table Description *********************************/
        $("#desc_table").click(function () {
             $("#dialouge_table_desc").dialog({
                modal: true,
                position: {my: "center center", at: "center top"},
                width:900,
                title:"Cyber Defense Matrix Attribute Description"

             });
        });
        /********************************************* End of the description of the dialouge box ***************************/



    });

    </script>
{% endblock %}