{# Load the tag library #}
<html>
<head>
        <script src="https://code.jquery.com/jquery-1.11.3.js"></script>

        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
</head>
{# Display django.contrib.messages as Bootstrap alerts #}
<body>
 <form method="post" action="">
     {% csrf_token %}
     <div class="container z-depth-5" style="vertical-align: bottom;width: 20%;padding: 20px
    ;background-color:lightskyblue;box-shadow: 0 0 30px black;margin-top: 50px">
        <div class="row"><input type="text" class="form-control" name="inputUserName" placeholder="User Name"></div>
        <div class="row"><input type="password" class="form-control" name="inputUserPassword" placeholder="Password"></div>
        <!--div class="row"><button type="button" class="btn btn-primary" id="register">Register</button-->
        <button type="button" class="btn btn-primary" id="signIn">Sign In</button></div>
     </div>
     <input type="text" class="form-control" name="registerFlag" id="registerFlag" style="display:none;">
     <button type="submit" style="display: none" id="subButton"></button>
 </form>
  <script>
            $("#register").click(function(){
                $("#registerFlag").val(1);
{#                alert($("#registerFlag").val());#}
                $("#subButton").click();

            });

            $("#signIn").click(function(){
                $("#registerFlag").val(0);
{#                alert($("#registerFlag").val());#}
                $("#subButton").click();

            });
        </script>
</body>
</html>

