.result_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.asset_list_modifier a{
    text-decoration: underline;
    font-style: normal;
    font-size: 25px;
    font-family: cursive;
}

.asset_list_modifier a:hover{
    font-size: 31px;
    font-weight: bold;
    color: #5f3f3f;
}

.dialouge_box{
    padding-top: 15px;
}
.dialouge_box label{
    font-style: normal;
    font-size: 20px;
    font-family: cursive;
}

.clickable_a{
    font-style: normal;
    font-size: 25px;
    font-family: cursive;
    color: red;
    text-decoration:underline;
}

.clickable_a:hover{
    font-size: 35px;
    font-weight: bolder;
}

.clickable_red{
    font-style: normal;
    font-size: 25px;
    font-family: cursive;
    color: red;
    text-decoration:underline;
    margin-bottom: 35px;
}

.desc_table_p{
    font-size: 18px;
}

.label_value{
    font-style: normal;
    font-size: 22px;
    font-family: cursive;
    color: darkblue;
}